### read data

In [1]:
import pandas as pd
data = pd.read_csv("test.csv", index_col="name")
# data = pd.read_csv("test.csv", header=None)
# data = pd.read_hdf("test.hdf")
# data = pd.read_json("test.json")
# data = pd.read_excel("test.xlsx")

data

       p1    p2   p3
name
a     0.0   0.0  0.0
b     1.0  10.0  0.1
c     2.0  20.0  0.2
d     3.0  30.0  0.3
e     4.0  40.0  0.4

### access

In [2]:
data.head(2)

       p1    p2   p3
name
a     0.0   0.0  0.0
b     1.0  10.0  0.1

In [3]:
data.tail(2)

       p1    p2   p3
name
d     3.0  30.0  0.3
e     4.0  40.0  0.4

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 3 columns):
p1    5 non-null float64
p2    5 non-null float64
p3    5 non-null float64
dtypes: float64(3)
memory usage: 160.0+ bytes

In [5]:
data.describe()

             p1         p2        p3
count  5.000000   5.000000  5.000000
mean   2.000000  20.000000  0.200000
std    1.581139  15.811388  0.158114
min    0.000000   0.000000  0.000000
25%    1.000000  10.000000  0.100000
50%    2.000000  20.000000  0.200000
75%    3.000000  30.000000  0.300000
max    4.000000  40.000000  0.400000

In [6]:
data.shape

(5, 3)

In [7]:
data["p1"]

name
a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
Name: p1, dtype: float64

In [8]:
data[["p1","p3"]]

       p1   p3
name
a     0.0  0.0
b     1.0  0.1
c     2.0  0.2
d     3.0  0.3
e     4.0  0.4

In [9]:
data.loc[["c","d"]]

       p1    p2   p3
name
c     2.0  20.0  0.2
d     3.0  30.0  0.3

In [10]:
data.loc[["c","d"], ["p1","p2"]]

       p1    p2
name
c     2.0  20.0
d     3.0  30.0

In [11]:
data.iloc[1:3]

       p1    p2   p3
name
b     1.0  10.0  0.1
c     2.0  20.0  0.2

In [12]:
data.iloc[1:3:,1:2]

        p2
name
b     10.0
c     20.0

### query

In [13]:
data[data.p1 == 1]

       p1    p2   p3
name
b     1.0  10.0  0.1

In [14]:
data.query("p1 == 1")

       p1    p2   p3
name
b     1.0  10.0  0.1

In [15]:
data.query("p1 == 1 | p2 == 20")

       p1    p2   p3
name
b     1.0  10.0  0.1
c     2.0  20.0  0.2

### sort

In [16]:
import numpy as np
data = np.random.rand(5)
df = pd.DataFrame(data, columns=['data'])
df

       data
0  0.292023
1  0.401771
2  0.035256
3  0.942326
4  0.629508

In [17]:
df.sort_values('data')

       data
2  0.035256
0  0.292023
1  0.401771
4  0.629508
3  0.942326

In [18]:
df.sort_values('data').index.values

array([2, 0, 1, 4, 3])

In [19]:
from scipy.stats.mstats import rankdata
df.assign(order=rankdata(df.data))

       data  order
0  0.292023    2.0
1  0.401771    3.0
2  0.035256    1.0
3  0.942326    5.0
4  0.629508    4.0